albumentations==2.0.5
gradio==6.9.0
matplotlib==3.10.8
numpy==2.4.3
openai==2.28.0
opencv_python==4.8.1.78
opencv_python_headless==4.10.0.84
pandas==3.0.1
Pillow==12.1.1
PyYAML==6.0.2
PyYAML==6.0.3
torch==2.7.0
ultralytics==8.3.100
